<footer class="footer">
  <section class="footer__menu">
    <h3 class="titles footer__menu__shop__title">Tienda</h3>
    <nav>
      <ul class="footer__menu__shop">
        <li class="list_item"><a href="https://adalab.es/" class="link footer__menu__shop__item">Productos</a></li>
        <li class="list_item"><a href="https://adalab.es/" class="link footer__menu__shop__item">Cajoneras</a></li>
        <li class="list_item"><a href="https://adalab.es/" class="link footer__menu__shop__item">Para toda la casa</a>
        </li>
        <li class="list_item"><a href="https://adalab.es/" class="link footer__menu__shop__item">Habitaciones</a></li>
      </ul>
    </nav>
  </section>

  <section class="footer__menu">
    <h3 class="titles footer__menu__we__title">Nosotros</h3>
    <nav>
      <ul class="footer__menu__we">
        <li class="list_item"><a href="https://adalab.es/" class="link footer__menu__we__item">Nuestra guía</a></li>
        <li class="list_item"><a href="https://adalab.es/" class="link footer__menu__we__item">Nuestro diseño</a></li>
        <li class="list_item"><a href="https://adalab.es/" class="link footer__menu__we__item">Nuestra historia</a></li>
        <li class="list_item"><a href="https://adalab.es/" class="link footer__menu__we__item">Ayuda</a></li>
      </ul>
    </nav>
  </section>

  <section class="footer__menu">
    <h3 class="titles footer__menu__contact__title">Contacto</h3>
    <nav>
      <ul class="footer__menu__contact">
        <li class="list_item"><a href="https://adalab.es/"
            class="link footer__menu__contact__item">ayuda@openspaces.com</a></li>
        <li class="list_item"><a href="https://adalab.es/" class="link footer__menu__contact__item">Socios</a></li>
      </ul>
    </nav>

    <nav>
      <ul class="footer__menu__socialmedia">
        <li class="list_item"><a href="https://adalab.es/" class="link footer__menu__socialmedia__item" target="_blank"
            title="Linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
        </li>
        <li class="list_item"><a href="https://adalab.es/" class="link footer__menu__socialmedia__item" target="_blank"
            title="Instagram"><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li class="list_item"><a href="https://adalab.es/" class="link footer__menu__socialmedia__item"
            target="_blank"><i class="fa-brands fa-twitter" title="Twitter"></i></a>
        </li>
      </ul>
    </nav>
  </section>





  <a href="#hero" class="arrow link" title="Volver al inicio"><i class="fa-solid fa-arrow-up"></i></i></a>

</footer>