<header class="header">
  <a href="https://adalab.es/" target="_blank" class="header__icon"><i class="fa-solid fa-bars" title="Menú"></i></a>
  <nav>
    <ul class="header__menu">
      <li class="list_item"><a href="#products" class="link header__menu__item">Productos</a></li>
      <li class="list_item"><a href="https://adalab.es/" class="link header__menu__item">Colecciones</a></li>
      <li class="list_item"><a href="https://adalab.es/" class="link header__menu__item">Tienda</a></li>
      <li class="list_item"><a href="#hero" class="link header__menu__item">Inicio</a></li>
    </ul>
  </nav>

</header>