<main class="main">
    <include src="hero.html"></include>

    <section class="main__product" id="products">
        <h2 class="main__product__title titles">Volverse organizado se siente mejor con <span
                class="main__product__title--uppercase">open spaces</span></h2>

        <div class="main__product__wrapper">
            <include src="product.html" class="main__product__needed" path="./assets/images/icon_1.png"
                alt="Logo of a table" img_title="Logo of a table" image_class="main__product__needed__image"
                title_class="main__product__needed__title titles" description_class="main__product__needed__description"
                title="Lo que necesitas" text="Una linea de productos diseñados para todos tus espacios">
            </include>
            <include src="product.html" class="main__product__needed" path="./assets/images/icon_2.png"
                alt="Recycle logo" img_title="Recycle logo" image_class="main__product__needed__image"
                title_class="main__product__needed__title titles" description_class="main__product__needed__description"
                title="Materia primas sustentables" text="Todos los productos con materias primas sustentables">
            </include>
            <include src="product.html" class="main__product__needed" path="./assets/images/icon_3.png"
                alt="Logo of a signboard" img_title="Logo of a signboard" image_class="main__product__needed__image"
                title_class="main__product__needed__title titles" description_class="main__product__needed__description"
                title="Guía" text="Soporte y asesoramiento para ayudarte con tu objetivo">
            </include>
        </div>
    </section>


    <section class="main__shipping">
        <include src="product.html" class="main__shipping__content" path="./assets/images/icon_4.png"
            alt="Logo of a truck" img_title="Logo of a truck" image_class="main__shipping__image"
            title_class="main__shipping__title titles" description_class="main__shipping__description"
            title="Envío gratis garantizado" text="Envío gratis en compras desde 100">
        </include>
        <include src="link.html" class="link main__shipping__button"></include>
    </section>

    <section class="main__buy">
        <div class="main__buy__wrapper">
            <h3 class="main__buy__title titles">Disfruta creando espacios</h3>
            <p class="main__buy__description">Una línea de productos diseñados para todos tus espacios</p>
            <include src="link.html" class="link main__buy__button button"></include>
        </div>
        <div class="main__buy__image">
            <img src="./assets/images/creating_spaces.jpg" alt="Cestas de ordenación" title="Cestas en un baño"
                class="photo">
        </div>

    </section>


</main>