<main class="main">
    <section class="main__hero" id="hero">
        <div class="main__hero__wrapper">
            <h1 class="main__hero__title">Disfruta creando espacios</h1>
            <include src="link.html" class="link main__hero__button"></include>
        </div>
    </section>

    <section class="main__product">
        <h2 class="main__product__title">Volverse organizado se siente mejor con <span
                class="main__product__title--uppercase">open spaces</span></h2>

        <include src="product.html" class="main__product__needed" path="./assets/images/icon_1.png"
            alt="Logo of a table" img_title="Logo of a table" title="Lo que necesitas"
            text="Una linea de productos diseñados para todos tus espacios">
        </include>

        <include src="product.html" class="main__product__needed" path="./assets/images/icon_2.png" alt="Recycle logo"
            img_title="Recycle logo" title="Materia primas sustentables"
            text="Todos los productos con materias primas sustentables">
        </include>

        <include src="product.html" class="main__product__needed" path="./assets/images/icon_3.png"
            alt="Logo of a signboard" img_title="Logo of a signboard" title="Guía"
            text="Soporte y asesoramiento para ayudarte con tu objetivo">
        </include>

    </section>

    <section class="main__shipping">
        <include src="product.html" class="main__shipping__content" path="./assets/images/icon_4.png"
            alt="Logo of a truck" img_title="Logo of a truck" title="Envío gratis garantizado"
            text="Envío gratis en compras desde 100">
        </include>
        <include src="link.html" class="link main__shipping__button"></include>
    </section>

    <section class="main__buy">
        <h3 class="main__buy__title">Disfruta creando espacios</h3>
        <p class="main__buy__description">Una línea de productos diseñados para todos tus espacios</p>
        <include src="link.html" class="link main__buy__button"></include>
    </section>

    <div class="imagen">
        <img src="./assets/images/creating_spaces.jpg" alt="">
    </div>

</main>