.main {
    overflow: hidden;

    &__buy {
        background-color: $main_background_color;
        display: flex;
        flex-direction: column;

        @media all and (min-width: 1728px) {
            flex-direction: row;  
            align-items: start;
        }

        &__wrapper {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            gap: 0.625rem;
            padding: 5.4375rem 1.6875rem 5.75rem;

            @media all and (min-width: 900px) {
                padding: 3.8125rem 14.6875em 6.75rem;   
            }

            @media all and (min-width: 1728px) {
                width: 49.3%;  
                justify-items: left; 
                padding: 11rem 9rem 10.6875rem 17.5rem;   
            }
        }

        &__title {
            font-size: 1.5rem;
            text-align: center;
            
            @media all and (min-width: 900px) {
                font-size: 1.875rem;
                margin-bottom: 1rem;
            }

            @media all and (min-width: 1728px) {
                font-size: 2.25rem;   
                text-align: left;
                line-height: 3rem;
                max-width: 26.875rem;
                margin: 0;
            }
        }

        &__description {
            font-size: 0.875rem;
            margin-bottom: 1.25rem;
            text-align: center;

            @media all and (min-width: 900px) {
                line-height: 1.5rem;
                max-width: 25rem;
            }

            @media all and (min-width: 1728px) {
                font-size: 1rem;  
                text-align: left; 
                line-height: 1.5rem;
                max-width: 18.75rem;
                margin-bottom: 0.5rem;
            }
        } 

        &__image {
            background-color: $main_color_dark;
            height: 304px;
            overflow: hidden;
            transition-property: height;
            transition-duration: 500ms;

            @media all and (min-width: 900px) {
                height: 474px;
                transition-property: height;
                transition-duration: 5ms;
            }

            @media all and (min-width: 1728px) {
                height: 562px;
                width: calc(100% - 49.3%); 
            }
            
            .photo {
                width: 100%;
                transform: translateY(-20%);
                object-fit: cover;
                min-height: 437px;
                transition-property: width;
                transition-duration: 3s;

                @media all and (min-width: 900px) {
                    animation: move-img;
                    animation-duration: 2s;
                    transform: translateX(0%) translateY(-20%);
                    @keyframes move-img {
                        0% {
                            transform: translateX(0%) translateY(0%);
                        }
                        100% {
                            transform: translateX(0%) translateY(-20%);
                        }
                    }
                }

                @media all and (min-width: 1728px) {
                    transform: scale(1.1);
                    animation: photo;
                    animation-duration:2s;

                    @keyframes photo{
                        0% {
                            transform: scale(1);
                        }
                        100% {
                            transform: scale(1.1);
                        }
                    }
                }
            } 
        }
     }
}

