.footer {
    background-color: $main_color_dark;
    padding: 3.5rem 1.8125rem 1rem 9.125rem;
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
    

    &__menu {
        flex-grow: 1;
        width: 13rem;
        margin-right: 3.6875rem;
        
        @media all and (min-width: 1728px) {
            width: 18rem;
        }
    }

    &__menu__shop,
    &__menu__we,
    &__menu__contact {
        

        &__title {
            color: $main_color_light;
            font-size: 1.25rem;
            line-height: 2.4rem;
            margin-left: 1rem;

            @media all and (min-width: 900px) {
                margin-top: 0;
            }

            @media all and (min-width: 1728px) {
                font-size: 1.5rem;
            }
        }

        &__item {
            color: $main_color_light;
            font-size: 0.875rem;
            line-height: 1.5rem;
            padding: 1rem;;

            @media all and (min-width: 1728px) {
                font-size: 1rem;
            }
        }
    }

    &__menu__socialmedia {
        display: flex;
        margin-top: 1.25rem;
        margin-bottom: 0.4375rem;
        margin-left: 1rem;
        transform: translateX(-0.6875rem);

        &__item {
            padding: 0.6875rem;
            font-size: 1.5rem;
            color: white;

            &:hover {
                font-size: 2rem;
            }
        }
    }

    .arrow__container {
        width: 24px;
        position: relative;
        left: calc(100% - 0.625rem - 0.3125rem);

        .arrow {
            padding: 0.3125rem;
            .fa-arrow-up-long {
                color: white;

                &:hover {
                    transform: scale(2.5);
                }
            }
        }

        @media all and (min-width: 900px) {
            position: static;
            transform: translateY(550%);
       }
    }

    @media all and (min-width: 900px) {
         flex-direction: row;
         align-items: baseline;
         padding: 4.4375rem 3.5625rem 5.5625rem 7.375rem;
    }

    @media all and (min-width: 1728px) {
        padding: 8.1875rem 22rem;
        padding-right: 11.6875rem;
    }

}