.header {
    position: fixed;
    top: 0;
    z-index: 100;
   
    &__icon {
        display: inline-block;
        padding: 3.4375rem 2.0625rem;
        color: $main_color_dark;
        object-fit: contain;
        font-size: 1.5rem;

        @media all and (min-width: 900px) {
            padding: 4.688rem 5.125rem;
        }

        @media all and (min-width: 1728px) {
            display: none;       
        }
    }

    &__menu {
        display: none;

        &__item {
            color: $main_color_dark;
            padding: 1.875rem;
        }

        @media all and (min-width: 1728px) {
            display: flex;      
            margin-top: 4.75rem;
            margin-left: 15.625rem;
            animation: extend 1s;

            @keyframes extend {
                0% {
                    opacity: 0%;
                }
                100% {
                    opacity: 100%;
                }
            }
        }
    }

    @media all and (min-width: 1728px) {
        position: absolute;      
    }
    
}