.header {
    position: fixed;
    top: 0;
   
    &__icon {
        display: inline-block;
        padding: 55px 33px;
        color: $main_color_dark;
        object-fit: contain;
        font-size: 1.5rem;

        @media all and (min-width: 900px) {
            padding: 75px 82px;
        }

        @media all and (min-width: 1728px) {
            display: none;       
        }
    }

    &__menu {
        display: none;

        &__item {
            color: $main_color_dark;
            padding: 30px;
        }

        @media all and (min-width: 1728px) {
            display: flex;      
            margin-top: 76px;
            margin-left: 250px;
            animation: extend 1s;
            
            @keyframes extend {
                0% {
                    opacity: 0%;
                }
                100% {
                    opacity: 100%;
                }
            }
        }
    }

    @media all and (min-width: 1728px) {
        position: absolute;      
    }
    
}