.main {
    &__hero {
    
        &__wrapper {
            background-image: url("../images/hero.jpg");
            background-position: top;
            background-size: cover;
            background-repeat: no-repeat;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            @media all and (min-width: 900px) {
                align-items: baseline;
                padding-left: 9.188rem;
                transition: padding;
                transition-duration: 2s;
                animation-name: padding-title;
                animation-duration: 2s;

                @keyframes padding-title {
                    0% {
                        padding-left: 3.875rem;
                    }
                    0% {
                        padding-left: 9.188rem;
                    }
                }
            }

            @media all and (min-width: 1728px) {
                padding-left: 17.5rem;      
            }
        }

        &__button {
            margin: 0rem 7.438rem 4rem;
        }

        &__logo {
            width: 13.313rem;
            margin-top: 1.188rem; 
            position: absolute;
            top: 0;
            transition: margin;
            transition-duration: 2s;

            @media all and (min-width: 900px) {
                margin-top: 2.438rem;
                left: calc(50% - 6.656rem);
            }
        }

        &__title {
            font-size: 1.5rem;
            color: $main_color_dark;
            font-weight: 600;
            margin: 3.875rem 0;
            transition: font-size;
            transition-duration: 1s;

            @media all and (min-width: 900px) {
                font-size: 2.25rem;
            }
        }

    }
}
