.main {
    
    &__product {
        display: grid;
        gap: 37px;
        grid-template-columns: 1fr;
        padding: 41px 47px 18px 45px;
        background-color: $main_background_color;

        @media all and (min-width: 900px) {
            grid-template-columns: repeat(3, 1fr);
            padding: 41px 101px 73px 91px;
        }

        @media all and (min-width: 1728px) {
            padding: 70px 283px 128px 310px;  
            gap: 76px; 
        }

        &__title {
            font-size: 1.5rem;
            text-align: center;
            line-height: 2rem;
            
            &--uppercase {
                text-transform: uppercase;
            } 

            @media all and (min-width: 900px) {
                grid-column: span 3;
            }
            
            @media all and (min-width: 1728px) {
                min-width: 580px;
                margin: 70px 475px 0px 464px;
                font-size: 2.25rem;   
                line-height: 3rem;  
            }
        }

        &__needed {
            width: 13rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            gap: 12px;

            &__image {
                width: 90px;
                margin: 0px 65px 35px 53px;

                @media all and (min-width: 1728px) {
                    width: 120px;      
                }
            }

            &__title {
                font-size: 1.25rem;
                text-align: center;
            }

            &__description {
                text-align: center;
                padding-bottom: 20px;
                line-height: 1.5rem;
            }

        }
    }
}