.main {

    &__shipping {
        background-color: $secondary_background_color;
        display: flex;
        flex-direction: column;
        padding: 46px 0px 44px;
        justify-content: center;
        align-items: center;
        
        &__image {
            width: 120px;
            margin: 0px 152px 10px 142px;
        }

        &__title {
            color: white;
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 10px;
            
            @media all and (min-width: 900px) {
                font-size: 1.875rem;
            }

            @media all and (min-width: 1728px) {
                font-size: 2.25rem;     
            }
        }

        &__description {
            color: white;
            font-size: 0.875rem;
            text-align: center;
            line-height: 1.5rem;

            @media all and (min-width: 1728px) {
                font-size: 1rem;     
            }
        }

        &__button {
            margin: 17px 0px 0px;
            padding: 12px 24px;
            text-decoration: underline;
            color: white;
            font-weight: 600;

            &:hover {
                color: $secondary_background_color;
                background-color: white;
                animation: gradient 2s;

                @keyframes gradient {
                    0% {
                        background-color: $secondary_background_color;
                        color: #fd8c4a;
                    }
                    100% {
                        background-color: white;
                        color: $secondary_background_color;
                    }
                }
            }
        }

        @media all and (min-width: 1728px) {
            padding: 61px 437px 78px 492px;   
        }
    }
}
