.main {

    &__shipping {
        background-color: $secondary_background_color;
        display: flex;
        flex-direction: column;
        padding: 46px 0px 44px;
        justify-content: center;
        align-items: center;
        
        &__image {
            width: 120px;
            margin: 0px 152px 10px 142px;
        }

        &__title {
            color: white;
            font-size: 1.5rem;
            text-align: center;
            margin-bottom: 10px;
            
            @media all and (min-width: 900px) {
                font-size: 1.875rem;
            }
        }

        &__description {
            color: white;
            font-size: 0.875rem;
            text-align: center;
            line-height: 1.5rem;
        }

        &__button {
            margin: 17px 0px 0px;
            padding: 12px 24px;
            text-decoration: underline;
            color: white;
            font-weight: 600;
        }
    }
}
